.menu-container{
    width: 100vw;
    height: 68px;
    padding: 0 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
    color: #fff;
}
.menu-scroll{
    animation: scrollMenu;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background-color: rgba(20, 20, 20, 1);
}

.menu-netflex{
    width: 7vw;
    margin-right: 30px;
    position: relative;
}

.menu-items-container{
    width: 100%;
    list-style: none;
    display: flex;
}

.menu-items{
    margin: 0 15px;
    font-size: 14px;
}

@keyframes scrollMenu {
    0% {    background-image: linear-gradient(180deg, rgba(20, 20, 20, 0) 10%, transparent);}
    100% {    background-image: linear-gradient(180deg, rgba(20, 20, 20, 1) 90%, transparent);}
  }